* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-container {
    display: grid;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.word-line {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.letter {
    width: 60px;
    height: 60px;
    border: 2px solid#d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: xx-large;
}

.keyboard-container {
    display: flex;
    width: 480px;
    margin: 0 auto 8px;
    gap: 7px;
    flex-direction: column;
    margin-top: 10px;
}

.keyboard-row {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.keyboard-button {
    flex: 1;
    height: 58px;
    background-color: #d3d6da;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 0;
    margin: 0 2px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}

.spacer-half {
    flex: 0.5;
}

.keyboard-third-line .keyboard-button {
    width: 35px;
}

#enter {
    width: 50px;
    height: 60px;
}

#backSpace {
    width: 50px;
    height: 60px;
}

.correctLocation {
    background-color: green;
    color: #fff;
    transition: 1s;
}

.wrongLocation {
    background-color: orange;
    color: #fff;
    transition: 1s;
}

.notIncluded {
    background-color: rgb(120, 120, 120);
    color: #fff;
    transition: 1s;
}